@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
}

.container-fluid a:hover{
    color: #FF4646;
}

.nav-item{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-item:hover{
    color: #FF4646;
}

.nav-active{
    color: #ffffff !important;
    text-decoration: underline !important;
}

.nav-active:hover{
    color: #FF4646 !important;
    text-decoration: underline !important;
}

.btn-success{
    border-color: #FF4646 !important;
    background-color: #FF4646 !important;
}

.btn-success:hover{
    border-color: #ff7171 !important;
    background-color: #ff7171 !important;
}

.iconify:hover {
    color: #e74b12;
}

.visitor-count {
    font-size: 150px;
    font-weight: bolder;
}

.visitor-text{
    color: #ffffff;
}

.visitor-text .text1{
    font-weight:300;
}

.divider {
    display: block;
    margin-top: 20px;
    margin-bottom:20px;
    width: 100;
    height: 2px;
    border-radius: 40px;
    background-color: #ffffff;
}

.divider1 {
    display: block;
    margin-top: 20px;
    margin-bottom:20px;
    width: 700px;
    height: 2px;
    border-radius: 40px;
    background-color: #ffffff;
}